
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<!--Inicio del contenido del cuerpo-->
<div id="content_wrapper">
    <div class="clearfix"></div>
    <div class="slider_tab_main">
        <!-- Inicio: Deslizar imagenes-->
        <div class="full_width home_slider">
            <div class="example">
                <div class="content" style="width:100%; float:left;">
                    <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <!-- Inicio Slide-->
                        <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                            <ul style="width:100% !important;" class="homesix_slide">
                                <!-- SLIDE 1  -->
                                <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">

                                    <!-- Imagen principal -->
                                    <img src="~/Content/images/Home/Cataratas.jpg" alt="slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- Imagen principal -->
                                    <!-- Capas -->
                                    <!-- Capa fondo-->
                                    <div class="layer_wrapper_main">
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-1"
                                             data-x="40" data-hoffset=""
                                             data-y="center" data-voffset="50"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-start="1000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">
                                            <div style="line-height:60px;">
                                                <img src="~/Content/images/Home/Cataratas.jpg " width="410" height="380" />
                                            </div>
                                        </div>
                                        <!-- LAYER 1 End -->
                                        <!-- LAYER 2 :-->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-391-layer-2"
                                             data-x="577" data-hoffset=""
                                             data-y="center" data-voffset="-200"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="y:top;s:2000;e:Power4.easeInOut;"
                                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-start="2000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">
                                            <div style="line-height:180px;">
                                                <div class="hnmn_text_slide" style="font-size:35px; line-height:20px;">Destino Perfecto Para Compartir En Familia</div>
                                                <div class="hnmn_tag_text" style="font-size:30px; line-height:80px;">Recrea los mejores momentos</div>
                                            </div>
                                        </div>
                                        <!-- LAYER 2 End -->
                                        <!-- LAYER 3: -->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-7"
                                             data-x="553" data-hoffset=""
                                             data-y="center" data-voffset="140"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                             data-start="7000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">

                                            <div class="root_square_yellow" style="padding: 13px 53px;">
                                               <a href="@Url.Action("Canada","Paseos")"><p style="font-size:20px; line-height:24px; font-weight:bold; margin:0px;">Más información</p></a>

                                            </div>

                                        </div>
                                        <!--LAYER 3 End -->

                                    </div> <!-- Termina capa fondo -->

                                </li>
                                <!-- slide 2 -->

                                <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">

                                    <!-- Imagen principal -->
                                    <img src="~/Content/images/Home/dublin.jpg" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- Imagen principal -->
                                    <!-- slider overlay -->
                                    <!--Capa fondo-->
                                    <div class="layer_wrapper_main">
                                        <!-- LAYER  1 -->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-1"
                                             data-x="40" data-hoffset=""
                                             data-y="center" data-voffset="50"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="y:bottom;s:2000;e:Power4.easeInOut;"
                                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-start="1000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">
                                            <div style="line-height:60px;">
                                                <img src="~/Content/images/Home/dublin.jpg" width="410" height="380" alt="layer img">
                                            </div>
                                        </div>
                                        <!-- LAYER 1 End -->
                                        <!-- LAYER 2 -->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-2"
                                             data-x="577" data-hoffset=""
                                             data-y="center" data-voffset="-200"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="y:top;s:2000;e:Power4.easeInOut;"
                                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-start="2000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">
                                            <div style="line-height:60px;">
                                                <div class="hnmn_text_slide" style="font-size:45px; line-height:24px;">Tiempo para inspirarte</div>
                                                <div class="hnmn_tag_text" style="font-size:30px; line-height:80px;">El mejor tiempo para compartir contigo mismo</div>
                                            </div>
                                        </div>
                                        <!-- LAYER 2   -->
                                        <!-- LAYER 3: -->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-7"
                                             data-x="553" data-hoffset=""
                                             data-y="center" data-voffset="140"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                             data-start="7000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">

                                            <div class="root_square_yellow" style="padding: 13px 53px;"><a href=" @Url.Action("Irlanda", "Paseos")">
                                                <p style="font-size:20px; line-height:24px; font-weight:bold; margin:0px;">Más información</p></a>
                                            </div>

                                        </div>
                                        <!--LAYER 3 End -->

                                    </div> <!-- Termina capa fondo -->

                                </li>

                                <!-- slide 3 -->

                                <li data-index="rs-393" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">

                                    <!-- Imagen principal -->
                                    <img src="~/Content/images/Home/sydney-opera-house-.jpeg" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- Imagen principal -->
                                    <!-- slider overlay -->
                                    <!-- Capa fondo-->
                                    <div class="layer_wrapper_main">
                                        <!-- LAYER  1 -->
                                        @*<div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-1"
                                             data-x="40" data-hoffset=""
                                             data-y="center" data-voffset="50"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="y:bottom;s:2000;e:Power4.easeInOut;"
                                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-start="1000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">
                                            <div style="line-height:60px;">
                                                <img src="~/Content/images/Home/sydney-opera-house-.jpeg" width="410" height="380" alt="layer img">
                                            </div>
                                        </div>*@
                                        <!-- LAYER 1 End -->
                                        <!-- LAYER  2 -->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-2"
                                             data-x="577" data-hoffset=""
                                             data-y="center" data-voffset="-200"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="y:top;s:2000;e:Power4.easeInOut;"
                                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-start="2000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">
                                            <div style="line-height:60px;">
                                                <div class="hnmn_text_slide" style="font-size:35px; line-height:24px;">Mejores experiencias vividas donde querás</div>
                                                <div class="hnmn_tag_text" style="font-size:30px; line-height:80px;">Experiencias inolvidades</div>
                                            </div>
                                        </div>
                                        <!-- LAYER 2 End -->
                                        <!-- LAYER  3-->
                                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-392-layer-7"
                                             data-x="553" data-hoffset=""
                                             data-y="center" data-voffset="140"
                                             data-width="['auto','auto','auto','auto']"
                                             data-height="['auto','auto','auto','auto']"
                                             data-transform_idle="o:1;"
                                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                             data-start="7000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on">

                                            <div class="root_square_yellow" style="padding: 13px 53px;"><a href="@Url.Action("Australia","Paseos")">
                                                <p style="font-size:20px; line-height:24px; font-weight:bold; margin:0px;">Más información</p></a>
                                            </div>

                                        </div>
                                        <!-- LAYER  3-->

                                    </div> <!-- Capa fondo -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- FIn SLIDER -->
                </div>
            </div>
        </div>

        <!-- Termina s -->
    </div>
    <!-- Home first slider End -->

    <link href="~/Content/css/default/widget.css" rel="stylesheet" />
    <!-- Inicia seccion de caracteristicas -->
    <div class="full_width Travelite_feature_section">
        <div class="container">
            <div class="row">

                <div class="car_booking_section">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="hotel_feature_box">
                            <a href="@Url.Action("Canada","Paseos")"><img src="~/Content/images/Home/Canada/canadian-flag.jpg" class="img-responsive" alt="car"></a>
                            
                            <div class="feature_overlay_second">
                                <div class="bottom_first"><a href="@Url.Action("Canada","Paseos")">Canadá</a></div>
                                <div class="bottom_second"><a href="@Url.Action("Canada","Paseos")"></a>Catarátas del Niagara</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="hotel_feature_box">
                            <a href="@Url.Action("Australia","Paseos")"><img src="~/Content/images/Home/Australia/australian-flag.jpg" class="img-responsive" alt="car"></a>
                            
                            <div class="feature_overlay_second">
                                <div class="bottom_first"><a href="@Url.Action("Australia","Paseos")">Australia</a></div>
                                <div class="bottom_second">a href="@Url.Action("Australia", "Paseos")"></a>Sidney</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="hotel_feature_box">
                            <a href="@Url.Action("Irlanda","Paseos")"><img src="~/Content/images/Home/Irlanda/ireland-flag.jpg" class="img-responsive" alt="car"></a>
                            <div class="feature_overlay_second">
                                <div class="bottom_first"><a href="@Url.Action("Irlanda","Paseos")">Irlanda</a></div>
                                <div class="bottom_second"><a href="@Url.Action("Irlanda", "Paseos")"></a>Dubli</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="end_box_fearure">
                            <h3 class="Travelite_heading_feature">Destinos populares</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Termina seccion de caracteristias-->
    <!-- Icono circulo-->
    <div class="full_width icon_circle_secion">
        <div class="icon_circle_overlay"></div>
        <div class="container">
            <div class="row row_top">

                <div class="col-md-3 col-sm-6">
                    <!--Espacio de escritura -->
                    <div class="wrapper_main">
                        <div class="news_thumb_wrapper">
                            <div class="thumb_overlay_d"></div>
                            <img src="~/Content/images/Home/seguro.jpg" alt="" class="img-responsive">
                            <div class="icon_circle_d">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="desc_main">
                            <h4>Confianza y seguridad</h4>
                            <p>
                                Nuestros viajes y paseos cuentan con la capacidad de ofrecer seguros de viajes, nuestro compromiso es asegurar
                                que nuestros clientes viajen y disfruten de manera segura sin preocuparse de percances.
                            </p>

                        </div>
                    </div>
                    <!--Espacio de escritura -->
                </div>

                <div class="col-md-3 col-sm-6">
                    <!--Espacio de escritura -->
                    <div class="wrapper_main">
                        <div class="news_thumb_wrapper">
                            <div class="thumb_overlay_d"></div>
                            <img src="~/Content/images/Home/barato.jpg" alt="" class="img-responsive">
                            <div class="icon_circle_d">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                        <div class="desc_main">
                            <h4>Precios Garantizados</h4>
                            <p>
                                Nuestros precios están diseñados con el fin de generar oportunidades de adquirir nuevas experiencias
                                sin necesidad de vaciar por completo los bolsillos para que compartan con sus seres queridos o por sí solos.
                            </p>

                        </div>
                    </div>
                    <!--Espacio de escritura -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Espacio de escritura -->
                    <div class="wrapper_main">
                        <div class="news_thumb_wrapper">
                            <div class="thumb_overlay_d"></div>
                            <img src="~/Content/images/Home/MejorViaje.jpg" alt="" class="img-responsive">
                            <div class="icon_circle_d">
                                <i class="fa fa-plane"></i>
                            </div>
                        </div>
                        <div class="desc_main">
                            <h4>Mejor Viaje</h4>
                            <p>
                                Nos comprometemos a ofrecer un viaje que deje en nuestros clientes la sensación de
                                seguir experimentando y con nuestros servicios de calidad, con las comodidades
                                expectativas necesarias para nuestro cliente.
                            </p>

                        </div>
                    </div>
                    <!--Espacio de escritura -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Espacio de escritura -->
                    <div class="wrapper_main">
                        <div class="news_thumb_wrapper">
                            <div class="thumb_overlay_d"></div>
                            <img src="~/Content/images/Home/guia.jpg" alt="" class="img-responsive">
                            <div class="icon_circle_d">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                        </div>
                        <div class="desc_main">
                            <h4>Excelente Guía</h4>
                            <p>
                                Como parte de nuestros servicios se encuentra el ofrecer la mejor guía experimentada para
                                cada uno de nuestros clientes, los cuales se logren sentir de una manera cómoda y con cumplir
                                con si expectativas.
                            </p>

                        </div>
                    </div>
                    <!--Espacio de escritura -->
                </div>

            </div>
        </div>

    </div>

    <!-- Termina icono circular -->
    <!-- Termina seccion de caracteristicas-->
    <div class="full_width our_feature_section">
        <div class="container">
            <div class="row row_top">
                <div class="heading_team">
                    <h3>¿Por qué elegirnos?</h3>

                </div>
                <div class="why_choose_Travelite">
                    <div class="col-md-3 col-sm-6">
                        <div class="best_feature_wrapper">
                            <div class="best_feature_icon"><a href="@Url.Action("Index", "Paseos")"><i class="fa fa-car"></i><span class="icon_overlay"></span></a></div>
                            <h3>Destinos antes no conocidos</h3>
                            <p>Gran variedad de destinos antes no visitados con magníficas vistas y experiencias inigualables</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="best_feature_wrapper">
                            <div class="best_feature_icon"> <a href="@Url.Action("Index", "Promociones")"><i class="fa fa-users"></i><span class="icon_overlay"></span></a></div>
                            <h3>Ofertas increíbles</h3>
                            <p>Ofertas increíbles, que se ajustan a tus necesidades y planes tanro grupales, en pareja o individuales.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="best_feature_wrapper">
                            <div class="best_feature_icon"><a href="@Url.Action("Index", "Nosotros")"><i class="fa fa-headphones"></i><span class="icon_overlay"></span></a></div>
                            <h3>Servicio al cliente 24/7</h3>
                            <p>Disponiblidad 100% para todos nuestros clientes en cualquier parte del mundo.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="best_feature_wrapper">
                            <div class="best_feature_icon"><a href="@Url.Action("Index", "Promociones")"><i class="fa fa-life-ring"></i><span class="icon_overlay"></span></a></div>
                            <h3>Precios más bajos del mercado</h3>
                            <p>Paquetes destinados a ajustarse a los bolsillos de nuestros clientes.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Inicia seccion de galeria-->
    <div class="full_width our_gallery_section">
        <div class="container">
            <div class="gallery_Sec_main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading_team">
                            <h3>Nuestra galería</h3>
                        </div>
                    </div>
                </div>


                <!-- item 1 -->
                <div class="col-lg-4 col-sm-4 col-md-4 pad_left">
                    <div class="row">
                        <div class="gallery_thumb_wrapper">
                            <a href="@Url.Action("Index", "Paseos")"><img src="~/Content/images/Home/Budapest.jpg" alt="gallery thumb" class="img-responsive"/></a>
                        </div>
                    </div>
                </div>
                <!-- item 1 End -->
                <!-- item 2 -->
                <div class="col-lg-4 col-sm-4 col-md-4 pad_left">
                    <div class="row">
                        <div class="gallery_thumb_wrapper">
                            <a href="@Url.Action("Index", "Paseos")"><img src="~/Content/images/Home/Tren.JPG" alt="gallery thumb" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <!-- item 2  End-->
                <!-- item 3 -->
                <div class="col-lg-4 col-sm-4 col-md-4 pad_left">
                    <div class="row">
                        <div class="gallery_thumb_wrapper">
                            <a href="@Url.Action("Index", "Paseos")"><img src="~/Content/images/Home/Guanacaste.JPG" alt="gallery thumb" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <!-- item 3 End -->
                <!-- item 4 -->
                <div class="col-lg-4 col-sm-4 col-md-4 pad_left">
                    <div class="row">
                        <div class="gallery_thumb_wrapper">
                            <a href="@Url.Action("Index", "Paseos")"><img src="~/Content/images/Home/Iguana.JPG" alt="gallery thumb" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <!-- item 4 End -->
                <!-- item 5  -->
                <div class="col-lg-4 col-sm-4 col-md-4 pad_left">
                    <div class="row">
                        <div class="gallery_thumb_wrapper">
                            <a href="@Url.Action("Index", "Paseos")"><img src="~/Content/images/Home/Bote_Bayahibe4.jpg" alt="gallery thumb" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <!-- item 5 End -->
                <!-- Imaen 6-->
                <div class="col-lg-4 col-sm-4 col-md-4 pad_left">
                    <div class="row">
                        <div class="gallery_thumb_wrapper">
                            <a href="@Url.Action("Index", "Paseos")"><img src="~/Content/images/Home/Chicago.JPG" alt="gallery thumb" class="img-responsive"></a>
                    </div>
                </div>
                <!-- item 5 End -->

            </div>

        </div>
    </div>

    <!--Finaliza sección de galería -->
    <!-- Inicia sección de comentarios -->
    <div class="full_width testimonials_section_home">
        <div class="container">
            <div class="row">
                <div id="home_testimonials" class="owl-carousel owl-theme">
                    <!--  Inicia primer comentario -->
                    <div class="item">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 pad_z">
                            <div class="main_testimonials_content">
                                <p>

                                    <b>“  La experiencia ha sido increíble, mucho de lo que se experimenta es único, quedan mucho por recordar con personas especiales"" </b>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pad_z">
                            <div class="testimonial_img_part">
                                <img src="~/Content/images/Home/Persona2.jpg" class="img-circle" alt="testimonial-thumb">
                                <h4>Ana González</h4>
                                <p>Costa Rica</p>
                            </div>
                        </div>
                    </div>
                    <!--  Termina primer comentario -->
                    <!--  Inicia segundo comentario -->
                    <div class="item">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 pad_z">
                            <div class="main_testimonials_content">
                                <p>
                                    <b>
                                        “Nuestro compromiso está basado en hacer cumplir las expectativas de nuestros clientes, es por ello que nos interesa
                                        conocer acerca de sus experiencias vividas desde el momento en el que adquirieron nuestro servicio”
                                    </b>

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pad_z">
                            <div class="testimonial_img_part">
                                <img src="~/Content/images/Home/Persona1.jpg" class="img-circle" alt="testimonial-thumb">
                                <h4>Tatiana Fernández</h4>
                                <p>CEO</p>
                            </div>
                        </div>
                    </div>
                    <!--  Termina segundo comentario -->
                </div>
            </div>
        </div>
    </div>
    <!-- Termina sección de comentarios-->
    <!-- Inicia sección de subscribirse -->
    <!-- Termina sección de subscribirse -->
</div>
<!--Termina contenido del cuerpo-->
