  <!--Header start-->
<header id="header_wrapper">
    <div class="header_top">
    </div>
  

    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="travel_logo">
                        <a href="@Url.Action("Index", "Inicio")"><img src="~/Content/svg/Logo.svg" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10">
                    <a href="javascript:;" class="menu-toggle"></a>
                    <div class="main_menu">
                        <ul>
                            <li class="active">
                                <a href="@Url.Action("Index", "Inicio")">Inicio</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Paseos")">Paseos</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="@Url.Action("Destinos","Paseos")">Destinos</a>
                                        <ul class="sub-menu">
                                            <li><a href="@Url.Action("Australia", "Paseos")">Australia</a></li>
                                            <li><a href="@Url.Action("Irlanda", "Paseos")">Irlanda</a></li>
                                            <li><a href="@Url.Action("Canada", "Paseos")">Canada</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("InformancionDetallada", "Paseos")">Informacion Detallada</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Paquetes")">Paquetes</a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Individual","Paquetes")">Individual</a></li>
                                    <li><a href="@Url.Action("Pareja","Paquetes")">Pareja</a></li>
                                    <li><a href="@Url.Action("Grupal","Paquetes")l">Grupal</a></li>
                                    <li><a href="@Url.Action("Familiar","Paquetes")">Familiar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Promociones")">Promociones</a>
                                <ul class="sub-menu">
                                    <li><a href="Flight-Home.html">flight-Home</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Contacto")">Contacto</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
